
<style>
    .post {
        line-height: 1.3;
        border: 1px solid #9d9d9d;
        border-radius: 1rem;
        padding:0.5rem 1rem;
        color:#454545;
    }

    .post-title{
        font-size:1.5rem;
        font-weight:500;

    }
    .post-categories{
        color:#020202;
        opacity:0.5;
        font-size:0.85rem;
    }
    .post-category{
        margin-right:0.25rem;
    }
    .post-image{
        width:100%;
        object-fit:cover;
        margin:0.5rem 0rem;
    }

    /*.post-content{

    }*/

    .post-bottom{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin:0.3rem 0px;
    }

    .post-date{
        opacity:0.75;
    }
    .post-button{
        border-radius: 10rem;
        border: 2px solid transparent;
        transition: all 0.35s ease;
        padding:0.3rem 0.5rem;
    }
</style>

<section class="section-padding">
    <div class="container">
        <div class="row cols-lg-6 row-cols-md-4 cols-sm-2">

            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">Title</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                    Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>


            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">Title</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>

            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">Title</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>

            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">İd dolorem tempora praesentium dolore sit.</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>