<section class="section-padding">
    <div class="container">
        <div class="row cols-lg-6 row-cols-md-4 cols-sm-2">

            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">Title</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                    Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>


            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">Title</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>

            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">Title</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>

            <div class="col px-2">
                <div class="post">
                    <div class="post-title ">İd dolorem tempora praesentium dolore sit.</div>
                    <div class="post-categories">
                        <a class="post-category" href="#">Genel Cerrahi</a>
                        <a class="post-category" href="#">Acil tıp</a>
                    </div>
                    <img class="post-image" src="~/images/logo.png">
                    </img>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet. Lal edeh kel gulmen gal. afterwards the boxes height should be auto dırıttın
                    </div>
                    <div class="post-bottom">
                        <div class="post-date">19.Jan.2020</div>
                        <a href="#" class="post-button btn btn-secondary">Go ></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>