
<h1>admin home ındex</h1>

<h1>Toplam departman sayısı: @ViewBag.departmanNumber </h1>

<h1>Toplam kullanıcı sayısı: @ViewBag.userNumber </h1>

<h1>Toplam post sayısı: @ViewBag.postNumber </h1>

<h1>Toplam doktor sayısı: @ViewBag.doctorNumber </h1>
