@model DepartmentDto

@{
    ViewData["Title"] = "Create";
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Kategori Oluştur</h1>
        </div>
    </div>
</div>

<h4 class="ml-2">Kategori</h4>
<hr />
<div class="row ml-2">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Başlık</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Description" class="control-label mt-2">Açıklama</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>


                <label asp-for="Content" class="control-label mt-2">İçerik</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>

                <label asp-for="Slug" class="control-label mt-2">SEO Uyumlu Link</label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-Info ml-2">Listeye Dön</a>
</div>

