@{
    ViewData["Title"] = "Auth - ForgotPassword";
}

@model ResetPasswordViewModel

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h2>Reset your password</h2>
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" asp-for="EmailAddress" id="email" type="email" required placeholder="name@example.com">
                    <span class="text-danger" asp-validation-for="EmailAddress"></span>
                </div>

                <button class="btn btn-primary solid blank mt-1 mb-3" type="submit">Reset password</button>

            </form>
        </div>
    </div>
</div>