<div class="container">
    <h1>Forget Password</h1>

    <p>We have sent an Email to your adress, please click the link in the mail and create a new password.</p>

    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary solid blank mt-1 mb-3">Login</a>

    <br />
</div>

