@{
    ViewData["Title"] = "Auth - Login";
}

@model LoginViewModel

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Giriş Yap </h1>
            <form asp-controller="Auth" asp-action="Login" method="post">

                <span class="text-danger">@ViewBag.Message</span>

                <div class="mb-3">
                    <label asp-for="EmailAddress" class="form-label">Email</label>
                    <input class="form-control" asp-for="EmailAddress"  type="email" required >
                    <span class="text-danger" asp-validation-for="EmailAddress"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Şifre</label>
                    <input class="form-control" asp-for="Password"  type="password" required >
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" asp-for="RememberMe"> Beni hatırla
                    </label>
                </div>

                <div>
                    <button class="btn btn-primary solid blank mt-1 mb-3" type="submit">Giriş</button>
                </div>

                <div>
                    <a asp-controller="Auth" asp-action="ForgotPassword" class="link">Şifreni mi unuttun?</a>
                </div>

                <br />

            </form>
        </div>
    </div>
</div>
