<div class="container">
    <h1>Register</h1>

    <p>Registration is successful. Please activate your email adddress...</p>

    <a asp-controller="Auth" asp-action="Login" class="btn btn-success">Login</a>

    <br />
</div>

