<div class="container">
    <h1>Reset Password</h1>

    <p>The password has been changed succesfully. Please login.</p>

    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary solid blank mt-1 mb-3">Login</a>

    <br />
</div>

