@{
    ViewData["Title"] = "Auth - Reset Password";
}

@model ResetPasswordViewModel

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Reset Password</h1>
            <form asp-controller="Auth" asp-action="ResetPassword" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <input asp-for="EmailAddress" type="hidden">

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password" id="password" type="password" required placeholder="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Confirm password</label>
                    <input class="form-control" asp-for="Password2" id="password" type="password" required placeholder="Repeat password">
                    <span class="text-danger" asp-validation-for="Password2"></span>
                </div>

                <button class="btn btn-primary solid blank mt-1 mb-3" type="submit">Change Password</button>

            </form>
        </div>
    </div>
</div>
