@model PageDto

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">@Model.Title</span>
                    <h1 class="text-capitalize mb-5 text-lg">@Model.Title</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
                      <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                      <li class="list-inline-item"><span class="text-white">/</span></li>
                      <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="title-color">Personal care for your healthy living</h2>
            </div>
            <div class="col-lg-8">
                <p>@Model.Content</p>
            </div>
        </div>
    </div>
</section>

