@model PageDto

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">@Model.Title</span>
                    <h1 class="text-capitalize mb-5 text-lg">@Model.Title</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="title-color">Kişisel bakım senin Yaşamın için</h2>
            </div>
            <div class="col-lg-8">
                <p>@Html.Raw(Model.Content)</p>
            </div>
        </div>
    </div>
</section>
